<h1>Please use the following URLs for get and post method request</h1>
<div>
For a get request task, click the folloing link and enter the query string
<a href =" http://52.37.250.27:3000/getRequest " > here </ a ></div>
<br>
<br>
<div>test1</div>

