<h1>Please use the following URLs for get and post method request</h1>
<p > For a get request task, click the folloing link and enter the query string
<a href =" http://52.37.250.27:3000/getRequest " > here </ a >. </ p >
<p > For a post request task, get Advanced Rest Client at the following link and then test the reques/respond with the same server <a href =" https://chromerestclient.appspot.com/ " > this site </ a >. </ p >