<h1>Please use the following URLs for get and post method request</h1>
<p > For a get request task, click the folloing link and enter the query string
<a href =" http://52.37.250.27:3000/getRequest " > here </ a >. </ p >
<p > <span>For a post request task, get Advanced Rest Client at <a href =" http://52.37.250.27:3000/getRequest " > this site </ a > </span> <span> then test the reques/respond with http://52.37.250.27:3000/ URL. </span></ p >