<<<<<<< HEAD
<h1>Please use the following URLs for get and post method request</h1>
<p>
For a get request task, click the folloing link and enter the query string
<a href =" http://52.37.250.27:3000/getRequest " > here </ a ></p>
<p>
For a post reuest, download Advanced REST client <a href ="https://chrome.google.com/webstore/search/advanced%20rest%20client?hl=en-US "> here </a></p>
=======
<h1>Please use the following URLs for get and post method request</h1>
<p>
For a get request task, click the folloing link and enter the query string
<a href =" http://52.37.250.27:3000/getRequest " > here </ a ></p>
<p>
For a post reuest, download Advanced REST client <a href ="https://chrome.google.com/webstore/search/advanced%20rest%20client?hl=en-US "> here </a></p>
>>>>>>> 7624da1399c3aa2a85a2201a80e14f47543f72ff
